mixin user
	.user
		if (user.img)
			img(class="img", class=user.color, src=user.img[0], onclick="userDisplay('.user_display_" + user.username + "')")
		else
			img(class="img", class=user.color, src="img/pp.png", onclick="userDisplay('.user_display_" + user.username + "')")
		div(class="user_display_" + user.username)
			if (user.firstname)
				.firstname=user.firstname
			if (user.lastname)
				.firstname=user.lastname
			if (user.age)
				.age=user.age + " years old"
			if (user.gender)
				.gender=user.gender
			if (user.score)
				.score=user.score + " hearts"
			if (user.tags)
				each tag in user.tags
					.tag="#" + tag
			if (user.bio)
				.bio=user.bio
doctype html
html
	head
		title="Choose"
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', type='text/css', media='all', href='css/master.css')
		link(rel='stylesheet', type='text/css', media='all', href='css/nprogress.css')
		link(rel='stylesheet', type='text/css', media='(min-width: 1200px)', href='css/screen.css')
		link(rel='stylesheet', type='text/css', media='(max-width: 600px)', href='css/mobile.css')
	body
		#info
		header
			.left
				| Choose
			.right
				button#user_edit
					| Edit profile
				a(href="logout")
					button
						| Sign Out
		nav
			ul
				li
					a(class="no-refresh", href="home") Home
				li
					a(class="no-refresh", href="profiles") Profiles
				li
					a(class="no-refresh", href="about") About
				li
					a(class="no-refresh", href="contact") Contact
		.content
			section
				#map
			aside
				each user in users
					+user
		footer
			| Jimi
		script(src='https://code.jquery.com/jquery-2.2.4.min.js')
		script(src='js/main.js')
		script(src='js/map.js')
		script(src='js/ui.js')
		script(async defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCcrz8h8SAOcv2S92upJPFUreYHV6DATS8&callback=initMap')
