extends ../index.pug

mixin user
	.user
		if (user.img)
			img(class="img", class=user.color, src=user.img[0])
		else
			img(class="img", class=user.color, src="img/pp.png")
		if (user.firstname)
			.firstname=user.firstname
		if (user.lastname)
			.firstname=user.lastname
		if (user.age)
			.age=user.age + " years old"
		if (user.gender)
			.gender=user.gender
		if (user.score)
			.score=user.score + " hearts"
		if (user.tags)
			each tag in user.tags
				.tag="#" + tag
		if (user.bio)
			.bio=user.bio
block content
	section
		h1=page
		each user in users
			+user
